.SectionBreak {
    /*background-color: #61dafb;*/
    width: 800px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.SectionBreak img {
    width: 46px;
}




@media (max-width: 1100px) {
    .SectionBreak {
        width: 73%;
    }
}